<mat-tab-group (selectedTabChange)="onSelectionChanged($event)">
    <mat-tab label="Point Cloud"></mat-tab>
    <mat-tab label="Voxel Grid"></mat-tab>
</mat-tab-group>
<div class="corner-icon">
    <mat-icon 
        [style.visibility]="data && data.length>0 ? 'visible' : 'hidden'"
        mat-icon-button 
        [matMenuTriggerFor]="menu">border_clear</mat-icon>
    <mat-menu #menu="matMenu">
        <div 
            style="padding: 1em;"
            onClick="if(event.stopPropagation){event.stopPropagation();}event.cancelBubble=true;">
            <app-cluster 
                (segmented)="onSegmented($event)"
                ></app-cluster>
        </div>
    </mat-menu>
</div>

<app-camera-native 
    [canvasSettings]="canvasSettings" 
    [data]="data"></app-camera-native>

<app-data-panel
    #form
    *ngIf="data && data.length>0"
    class="container" 
    [pointcloud]="origPoints"
    (outputPoints)="onOutputPoints($event)"
    ></app-data-panel>
