<app-nav></app-nav>

<div class="row" style="padding: 1em;">
    <app-folder-explorer 
        [structure]="structure"
        (selection)="onSelected($event)"
        style="height:80vh; display:block;" 
        class="col-sm-4"></app-folder-explorer>

    <div class="col-sm-8" style="padding-left: 10px;">
        <app-folder-plot
            [structure]="structure"
            [selection]="selection"
            [dataSettings]="dataSettings"
            [max]="max"
            (augSettings)="onAugSettings($event)"
            ></app-folder-plot>
        <app-training-panel
            style="margin-top: 10px;"
            [structure]="structure"
            [selection]="selection"
            [devices]="devices"
            [datasets]="datasets"
            [augSettings]="augSettings"
            [max]="max"
            (settings)="onSettings($event)"></app-training-panel>
    </div>
</div>