<mat-sidenav-container class="sidenav-container">
    <mat-sidenav 
        #sidenav 
        mode="side" 
        style="max-width:30vw; height: 100vh; box-shadow: 3px 0 6px rgba(0,0,0,.24);"
        [(opened)]="opened">
        <app-segmentation-list 
            style="height: 100%;"
            [segments]="segs"></app-segmentation-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <app-nav 
            [showMenu]="showMenu"
            (menuToggle)="onMenuToggle($event)"></app-nav>
        <app-main-view
            (segmented)="onSegments($event)"
            style="max-width: 70vw;"
            class="app-container-inline"></app-main-view>
    </mat-sidenav-content>
</mat-sidenav-container>
