<div class="col-8">
    <div class="row">
        <label for="fileUpload" class="btn btn-block btn-outline-primary">Choose File</label>
        <input id="fileUpload" style="display: none;" type="file" ng2FileSelect [uploader]="uploader" />
    </div>
    <app-camera class="app-container-inline" [settings]="cameraSettings"></app-camera>
    <!-- TODO: ADD seg config sliders -->
    <app-segmentation 
        *ngIf="filename"
        [pointcloud]="pointcloud" 
        [filename]="filename" 
        (segments)="segs=$event"
    ></app-segmentation>
</div>
<div class="col-4" *ngIf="segs.length > 0">
    <div>Segmentations:</div>
    <ng-container *ngFor="let seg of segs; let i = index;">
        <app-camera style="min-height:25vh;" class="app-container-inline" [settings]="seg.camera"></app-camera>
        <div style="margin-bottom: 5px; display:flex; justify-content:space-between;">   
            <input class="btn btn-outline-primary" type="button" value="Recognize" (click)="predict(seg.points, i)"/>
            <span>{{ seg.result }}</span>
        </div>
    </ng-container>
</div>
