<mat-form-field>
    <mat-select
        placeholder="Select Cluster Algorithm"
        (selectionChange)="onSelected($event)"
        [(value)]="selected">
        <mat-option *ngFor="let model of models" [value]="model">
        {{ model }}
        </mat-option>
    </mat-select>
</mat-form-field>
<app-cluster-form #clusterForm></app-cluster-form>
<input 
    *ngIf="selected && clusterForm.form.valid" 
    (click)="segment()" 
    class="btn btn-outline-primary" 
    style="float:right;" 
    type="button" 
    value="Segment"/>