<div class="welcome-section col-sm-3" (click)="onTraining()">
    <div>  
        <mat-icon class="welcome-icon">import_contacts</mat-icon>
        <p>Training</p>
    </div>
</div>

<div class="welcome-section col-sm-3" (click)="onPrediction()">
    <div>
        <mat-icon class="welcome-icon">explorer</mat-icon>
        <p>Prediction</p>
    </div>
</div>

<div class="welcome-section col-sm-3" (click)="onLaboratory()">
    <div>
        <mat-icon class="welcome-icon">dashboard</mat-icon>
        <p>Laboratory</p>
    </div>
</div>
