<mat-radio-group [(ngModel)]="radio">
    <mat-radio-button value="1">Build New HDF5 File</mat-radio-button>
    <section *ngIf="radio == 1">
        <div>
            <mat-checkbox 
                style="display:inline-block;"
                class="col-sm-6"
                (change)="onUseAll($event)"
                [checked]="use_all">Use all data</mat-checkbox>
            <mat-form-field [hidden]="use_all">
                <input matInput type="number" 
                    class="col-sm-5"
                    [(ngModel)]="data_size"
                    (blur)="onEnter()"
                    step= "1"
                    placeholder="Enter Data Amount">
            </mat-form-field>
        </div>
        <div>
            <mat-checkbox 
                style="display:inline-block;"
                class="col-sm-6" 
                (change)="onEnter()"
                [(ngModel)]="use_aug">Data Augmentation</mat-checkbox>
            <app-data-aug 
                *ngIf="use_aug" 
                (augSettings)="onAugSettings($event)"
                style="display: inline-grid;"></app-data-aug>   
        </div>
    </section>
    <section class="cute-little-seperator"></section>
    <mat-radio-button value="2">Using Existing HDF5 File</mat-radio-button>
    <section *ngIf="radio == 2">
        <mat-form-field>
            <mat-select placeholder="Select Existing HDF5 Dataset">
                <mat-option *ngFor="let file of datasets" [value]="file">
                {{ file }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </section>
</mat-radio-group>
