<mat-card>
    <mat-horizontal-stepper linear="true">
        <mat-step [stepControl]="hdf5Form">
            <form [formGroup]="hdf5Form">
                <ng-template matStepLabel>Select HDF5 File</ng-template>
                <app-build-file 
                    onkeypress="event.stopPropagation();"
                    #buildfile
                    [max]="max"
                    [datasets]="datasets"
                    (settings)="onSettings($event)"></app-build-file>
                <div>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="trainingSettingForm">
            <form [formGroup]="trainingSettingForm">
                <ng-template matStepLabel>Training Settings</ng-template>
                <app-training-settings
                    onkeypress="event.stopPropagation();"
                    #trainingSettingsEle
                    [devices]="devices"
                    ></app-training-settings>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Training</ng-template>
            <button 
                mat-raised-button 
                color="primary"
                (click)="onStart()">Start Training</button>
        </mat-step>
    </mat-horizontal-stepper>
</mat-card>