/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    width: 100%;
    height: 100%;
    background-color: #ECECEA;
}

.app-container-inline {
    display: inline-block;
}

mat-icon {
    cursor: pointer;
}

.corner-icon {
    position: absolute;
    right:3%;
    top:3%;
    z-index: 1000;
    cursor: pointer;
}

mat-dialog-container {
    position: relative;
}

.mat-menu-panel {
    min-width: 20em !important;
    max-width: 20em !important;
}