<mat-form-field>
    <mat-select
        placeholder="Select Cluster Algorithm"
        (selectionChange)="onSelected($event)"
        [(value)]="selected">
        <mat-option *ngFor="let model of models" [value]="model">
        {{ model }}
        </mat-option>
    </mat-select>
</mat-form-field>
<app-cluster-form #clusterForm></app-cluster-form>
<div style="float:right;" >
    <mat-spinner diameter="35" *ngIf="running"></mat-spinner>
    <input 
        [disabled]="clusterForm && clusterForm.form && !clusterForm.form.valid" 
        *ngIf="selected && !running"
        (click)="onSegment()" 
        class="btn btn-outline-primary" 
        type="button" 
        value="Segment"/>
</div>