<mat-icon class="corner-icon" (click)="close()">fullscreen_exit</mat-icon>
<div class="row" style="width: 100%;">
    <div class="col-sm-9" #content>
        <mat-tab-group (selectedTabChange)="onSelectionChanged($event)">
            <mat-tab label="Point Cloud"></mat-tab>
            <mat-tab label="Voxel Grid"></mat-tab>
        </mat-tab-group>
    </div>
    <div class="col-sm-3">
        Export
    </div>
</div>

<div class="row">
    <mat-slider 
        class="col-sm-9"
        [(ngModel)]="noise"
        (change)="onNoisy($event)"
        step= "1"
        max="100"
        min="0"></mat-slider>
    <mat-form-field>
        <input matInput type="number" 
            [(ngModel)]="noise"
            step= "1"
            placeholder="Gaussian Noise">
    </mat-form-field>
</div>

